.tabs{
    display: flex;
    justify-content: center;
}

.view{
    color: red;
}

.hidden{
    display:none !important;
}

.tab{
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-style: solid;
    border-width: 0.2em;
    margin:0.5em;
    border-radius: 0.5em;
    font-family: 'Typewriter', monospace;
    font-size: 5em;
}

.maintab:hover{
    background-color: black;
    color: white;
    border-color: black;
}

.prestigetab{
    border-color: blue;
    color: blue;
    background-color: black;
}

.prestigetab:hover{
    border-color: blue;
    color: white;
    background-color: blue;
}

.infinitytab{
    border-color: orangered;
    color: orangered;
    background-color: black;
}

.infinitytab:hover{
    border-color: orangered;
    color: white;
    background-color: orangered;
}

.layerstab{
    border-color:rgb(255, 4, 255);
    color: rgb(255, 4, 255);
    background-color: black;
}

.layerstab:hover{
    border-color: rgb(255, 4, 255);
    color: white;
    background-color: rgb(255, 4, 255);
}

.metatab{
    border-color: lime;
    color: lime;
    background-color: black;
}

.metatab:hover{
    border-color: lime;
    color: black;
    background-color: lime;
}

.ultimacytab{
    border-color: red;
    color: red;
    background-color: black;
}

.ultimacytab:hover{
    border-color: red;
    color: white;
    background-color: red;
}

.deathtab{
    border-color: gray;
    color: white;
    background-color: black;
}

.deathtab:hover{
    border-color: gray;
    color: white;
    background-color: gray;
}

.existencetab{
    border-color: cyan;
    color: cyan;
    background-color: black;
}

.existencetab:hover{
    border-color: cyan;
    color: black;
    background-color: cyan;
}